# ==============================================================================
# Maven / Build
# ==============================================================================
target/
*.war
*.jar
*.class

# ==============================================================================
# Base de Dados Local (H2) e Logs
# ==============================================================================
*.mv.db
*.trace.db
*.log
cookies.txt

# ==============================================================================
# Arquivos de Sistema Operacional (macOS / Windows)
# ==============================================================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ==============================================================================
# IDEs e Editores (VS Code, IntelliJ, Eclipse, NetBeans)
# ==============================================================================
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.project
.classpath
nbproject/
nb-configuration.xml
